<div >

<h1 mat-dialog-title>User Details</h1>
<div mat-dialog-content align="center">
  
  <img [src]="profile_pic_url"  alt="Profile Picture" height="100px" width="100px"><br><br>
 
  <button mat-raised-button color="primary" class="profile_pic_button">
    <label for="new-post" required class="input-file-label">
      Select Pic
      <input type="file" id = "new-post"  class="input_file_button" required (change)="onSelectFile($event)">
  </label>
  </button> <br><br>

  <mat-form-field appearance="fill">
    <mat-label>Full Name</mat-label>
    <input matInput [value]="userdata.name" #fullName>
  </mat-form-field><br>
  
  <mat-form-field appearance="fill">
    <mat-label>Full Name</mat-label>
    <input matInput [value]="userdata.username" #username>
  </mat-form-field><br>
  
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput #bio [value]="userdata.bio" ></textarea>
  </mat-form-field> <br>
  <br>

</div>
<div mat-dialog-actions align="center">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="edit_user_details(fullName.value,username.value,bio.value)">Save</button>
</div>

</div>
