img {
    border-radius: 100%;
}

.profile_pic_button { 
    cursor: pointer;
    text-align: center;
}

.input_file_button {
    display:none;
}

.input-file-label {
    margin:0px;
    width:100%;
    height:100%;
    cursor:pointer;
}