<div class="comments-div">
  <div *ngFor="let comment of comments">
    <b>{{comment.username}}:</b><label>{{comment.comment}}</label>
</div>

<div>
  <form >
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Comment</mat-label>
      <input matInput #comment maxlength="25600" id="inputComment" placeholder="Say whats on your in mind">
      <!-- <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint> -->
    </mat-form-field>
    <mat-icon (click)="addNewItem(comment.value)">arrow_right_alt</mat-icon>
      </form>
</div>



