

   <body>
    <div class="login-reg-panel">	
                  
        <div class="white-panel">
          <div class="login-show">
            <h1 class="t-color">Register</h1>
            <input type="text" placeholder="Name" #name>
            <input type="text" placeholder="Username" #uname>
            <input type="text" placeholder="Email" #email>
            <input type="password" placeholder="Password" #password>
            <input type="password" placeholder="Confirm Password" #con_password>

            <div *ngIf="pass_dont_match">
              Passwords don't match
            </div>
            
            <input type="button" value="Register" (click)="register(name.value, uname.value, email.value, password.value, con_password.value)">
           <br>
           <br>
           <br>
           
            <div class="t-color" style="margin-left: 23%;">
            Already have an account? 
            <br>
            <br>
          </div>
            <input type="button" class="t-color" value="Login" (click)="go_to_login()">
          </div>
          
        </div>
      </div>
    </body>