<div align="center">
    <h1>
   Register
    </h1>
    </div>
    <br>
    <br>
    <div align = "center">
      <div>
        Full Name <input #name>
      </div>
  <br>
      <div>
      Username <input #username>
      </div>
  
      <br>
  
    <div>
     email <input type="email" #email>
    </div>
    <br>
    <div>
     password <input type = "password" #pass>
    </div>
    <br>
    
    
    <button (click)="register(name.value, username.value, email.value, pass.value)">Register</button>
    <br>
    <h3>OR</h3>
    
    <button (click)="go_to_login()">Login</button>
    
  </div>
  
  