<div class="main_div">
  <div style="text-align: center">
    <b> {{ fullName }} </b>
    <hr />
  </div>

  <mat-icon class="mat_icon_left-arrow" (click)="go_back()"
    >keyboard_arrow_left</mat-icon
  >

  <mat-icon (click)="Refresh_profile_data()" style="margin-left: 96%"
    >refresh</mat-icon
  >

  <div>
    <div>
      <div class="col-1">
        <mat-card class="matcard_col1">
          <div class="imgdiv" style="background-color: rgba(0, 0, 0, 0)">
            <img
              [src]="profile_pic_url"
              alt="Profile Picture"
              height="200px"
              width="200px"
              class="pp"
            />
          </div>
        </mat-card>
      </div>

      <div class="col-2" align="center">
        <mat-card class="matcard_col2">
          <div style="background-color: rgba(0, 0, 0, 0)">
            <b>{{ userName }} </b>
          </div>
          <br />
          <br />
          <div style="background-color: rgba(0, 0, 0, 0)">
            <b>User Bio : </b> <b class="b2">{{ bio }}</b>
          </div>
        </mat-card>
      </div>
    </div>
  </div>

  <div align="center">
    <h1>Posts</h1>

    <div class="main_scroll">
      <app-post_grid [keymail]="keymail"></app-post_grid>
    </div>
  </div>
</div>
