
.main_scroll {

    max-height:90%;
    overflow-y: scroll;
    padding: 10px;
    background-color: rgb(230, 211, 211);
}
.innerdiv
{
  padding: 20px;
  float: none;
  justify-content: center;
  display: flex;
}

.main_scroll::-webkit-scrollbar {
  display: none;
}


