
<div class="main_scroll">
  
  <ul *ngFor="let post of all_post_url_List" class="main_scroll">
    <li>
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>Username</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{post}} alt="Photo of a Shiba Inu">
        <mat-card-content>
          
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </li>
  </ul>
</div>



 <!-- <div >
  <button mat-button-raised style="height: 50px; width:50px;"  (click)="post_list()"> click me</button>
 </div> -->