<mat-drawer-container class="example-container" >
  <mat-drawer #drawer class="example-sidenav" mode="side">
<img [src]="profile_pic_url"  alt="Profile Picture" height="100px" width="100px"><br><br>

    <button mat-raised-button class="profile-button" (click)="openDialog()">Edit Profile</button> <br><br>
    <button mat-raised-button class="profile-button" (click)="go_to_Add_Post()">Add Post</button> <br><br>
    <button mat-raised-button class="profile-button">Settings</button> <br><br>

    <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button> -->


  </mat-drawer>



<div >
  <div>
    <mat-icon class="mat_icon_button"  (click)="drawer.toggle()">more_vert</mat-icon>
  </div>
 <div style="text-align: center;">


   <b> {{fullName}} </b>

    <hr>



</div>

<mat-icon class="mat_icon_left-arrow"  (click)="go_back()" >keyboard_arrow_left</mat-icon>


      <mat-icon (click)="Refresh_profile_data()" style="margin-left:96%">refresh</mat-icon>

<div >
    <div >
      <div class="col-1">


        <mat-card class="matcard_col1">

        <div class = "imgdiv" style="background-color: rgba(0, 0, 0, 0);">
        <img [src]="profile_pic_url"  alt="Profile Picture" height="200px" width="200px">
        </div>
        </mat-card>

      </div>

      <div class="col-2" align="center">
        <mat-card class="matcard_col2">
        <div style="background-color: rgba(0, 0, 0, 0);">
            <b>{{userName}} </b>
        </div>
        <br>
        <br>
      <div style="background-color: rgba(0, 0, 0, 0);">
        <b>User Bio : </b> <b class="b2">{{bio}}</b>
      </div>
    </mat-card>
      </div>


    </div>
  </div>

  <div align="center">
    <h1>
        Posts
    </h1>

<div class="main_scroll">
    <app-post_grid [keymail]="keymail"></app-post_grid>
</div>

  </div>


</div>
</mat-drawer-container>
