<mat-drawer-container class="example-container" >
  <mat-drawer #drawer class="example-sidenav" mode="side" style="background-color:bisque ;">

    <img src="/assets/images/prj_logo_colour.png"  alt="Profile Picture" height="100px" width="100px"><br><br>
    <button mat-raised-button class="profile-button" (click)="openDialog()">Edit Profile</button> <br><br>
    <button mat-raised-button class="profile-button" (click)="go_to_Add_Post()">Add Post</button> <br><br>
    <button mat-raised-button class="profile-button">Settings</button> <br><br>

    <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button> -->


  </mat-drawer>



<div >

 <div style="text-align: center;">
  <mat-icon class="mat_icon_left-arrow" (click)="go_back()">keyboard_arrow_left</mat-icon>
  <mat-icon class="mat_icon_button" (click)="drawer.toggle()">more_vert</mat-icon>

    {{fullName}}

    <hr>
</div>

<div >
    <div >
      <div class="col-1">


        <mat-card class="matcard_col1">

        <div class = "imgdiv">
        <img src="/assets/images/prj_logo_black.png"  alt="Profile Picture" height="200px" width="200px">
        </div>
        </mat-card>

      </div>

      <div class="col-2" align="center">
        <mat-card class="matcard_col2">
        <div>
            {{userName}}
        </div>
        <br>
        <br>
      <div>
        User Bio : {{bio}}
      </div>
    </mat-card>
      </div>


    </div>
  </div>

  <div align="center">
    <h3>
        Posts
    </h3>

<div class="main_scroll">

  <ul *ngFor="let post of metadata" class="main_scroll">
    <li>
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>{{post.username}}</mat-card-title>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon style="border: none;">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" style="border:none;">

                <mat-icon style="cursor:pointer;" (click)="delete_post(post.name)">delete</mat-icon>

            </mat-menu>
          </div>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{post.url}} *ngIf="post.fileType==='image'" alt="Post by {{post.username}}">
        <video src={{post.url}} *ngIf="post.fileType==='video'" controls></video>
        <mat-card-content>
          {{post.caption}}
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </li>
  </ul>
</div>

  </div>


</div>
</mat-drawer-container>
