<mat-toolbar>
  <span routerLink="home">
  <img
    class="icon"
    src="/assets/images/wynyard.png"
    height="70px"
  >
</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button routerLink="/login" mat-menu-item class="menubutton"><mat-icon aria-hidden="false">login</mat-icon>
    Login</button>
  <button mat-menu-item class="menubutton" (click)="logout()"><mat-icon>exit_to_app</mat-icon>Logout</button>
</mat-menu>
