.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar
{
  background: rgb(155, 0, 194);
}

.example-icon
{
  color: white;
}
span
{
  color: white;
}


.menubutton
{
  background: linear-gradient(135deg, rgb(250, 188, 242) 7%, rgb(255, 162, 162) 100%);
  color: white;
}

mat-icon
{
  color: white;
}

img:hover
{
  background: linear-gradient(90deg, rgb(136, 49, 126) 7%, rgb(133, 42, 42) 99%);
  border-radius: 30px;
}

mat-icon:hover
{
  background: linear-gradient(90deg, rgb(136, 49, 126) 7%, rgb(133, 42, 42) 99%);
  border-radius: 30px;
}

