img
{
  width: 500px;
  height: 300px;
  margin: 5px;
  border-radius: 5px;
  background-color: rgb(228, 228, 228);
  object-fit: contain;
}
video
{
  width: 500px;
  height: 300px;
  object-fit: contain;
}

mat-card-content
{
  font-size: large;
}

.avataricon
{
  width: 40px;
  height: 40px;
  font-size: 40px;
  border-radius: 30px;
}

.caption
{
  font-size: large;
  word-wrap: break-word;
  width: 300px;
}

mat-card
{
  width: fit-content;
  padding: auto;
  background: whitesmoke
}

mat-card-title:hover
{
  color: rgb(222, 76, 252);
  cursor: pointer;
}

mat-expansion-panel
{
  background: whitesmoke;
}

mat-card:hover
{
  box-shadow: 5px 10px 12px rgb(143, 74, 120);
}

mat-card-content
{
  color: Navy;
}

b
{
  color: rgb(82, 0, 85);
}

