img
{
  width: 500px;
  height: 300px;
  margin: 5px;
  border-radius: 5px;
  background-color: antiquewhite;
  object-fit: contain;
}
video
{
  width: 500px;
  height: 300px;
  object-fit: contain;
}

mat-card-content
{
  font-size: large;
}

.avataricon
{
  width: 40px;
  height: 40px;
  font-size: 40px;
  border-radius: 30px;
}

.caption
{
  font-size: large;
  word-wrap: break-word;
  width: 300px;
}

mat-card
{
  border: 1px solid black;
  width: fit-content;
  padding: auto;
  background: linear-gradient(184deg, rgb(252, 126, 237) 7%, rgb(252, 104, 104) 100%);

}

mat-card:hover
{
  box-shadow: 5px 10px 12px rgb(143, 74, 120);
}

mat-card-content
{
  color: Navy;
}

b
{
  color: rgb(82, 0, 85);
}
