img
{
  width: 500px;
  height: 300px;
  margin: 5px;
  border: 5px groove rgb(65, 0, 0);
  border-radius: 5px;
}
video
{
  width: 500px;
  height: 300px;
}

mat-card-content
{
  font-size: large;
}

mat-card
{
  border: 1px solid black;
  width: fit-content;
  padding: auto;
  background: linear-gradient(184deg, rgb(252, 126, 237) 7%, rgb(252, 104, 104) 100%);

}

mat-card:hover
{
  box-shadow: 5px 10px 12px rgb(143, 74, 120);
}

mat-card-content
{
  color: Navy;
}

b
{
  color: rgb(82, 0, 85);
}
