<body>
<div class="login-reg-panel">	
							
		<div class="white-panel">
			<div class="login-show">
				<h1 class="t-color">LOGIN</h1>
				<input type="text" placeholder="Email" #email autofocus>
				<input type="password" placeholder="Password" #password>
        <br>
				<input type="button" value="Login" (click)="signIn(email.value, password.value)">
				
        <button mat-button style="border:0px; background-color: rgba(255, 255, 255, 0);" class="t-color" (click)="forgotPass()">Forgot Password ?</button>
        <br><br>
        <br><br>
        <br>
        <div class="t-color">
        Don't have an account? 
      </div>
        <input type="button" class="t-color" value="Register" (click)="go_to_register()">
			</div>
			
		</div>
	</div>
</body>