.maindiv
{
  height: 100%;
  overflow-y:auto;
}

.maindiv::-webkit-scrollbar
{
  display: none;
}

p{
  color: white;
}

.footer
{
  background-color: #b885fa;
}

.aboutus
{
  background-color: #b885fa;
}
