<mat-drawer-container class="example-container">
  <mat-drawer
    #drawer
    class="example-sidenav"
    mode="side"
    hasBackdrop="true"
    position="end"
  >
    <div class="chat_title">
      <button mat-fab class="backfab" (click)="drawer.toggle()" class="back-but">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
    <div class="msgbox">
      <div *ngFor="let c of x.slice().reverse()">
        <div [ngClass]="{ righty: username == c.username, lefty: username != c.username }">
        <div
          [ngClass]="{ s1: username == c.username, s2: username != c.username }"
        >
          <b>{{c.username}}</b>
          <br>
          {{c.chat}}
        </div>
        <br />
      </div>
      </div>
      <br />
    </div>
    <div class="sendmsg">
      <input
        #chat
        style="width: max"
        placeholder="Enter your text....."
        id="chat_line"
      />
      <button (click)="add_to_chat(chat.value)">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button
      type="button"
      mat-button
      (click)="drawer.toggle()"
      class="chat-button"
    >
      Open Chats
    </button>
  </div>
</mat-drawer-container>
