img
{
  width: 500px;
  height: 300px;
  margin: 5px;
  border-radius: 5px;
  background-color: antiquewhite;
  object-fit: contain;
}
video
{
  width: 500px;
  height: 300px;
  object-fit: contain;
}

div:hover
{
  box-shadow: 5px 15px 10px #888888;
}
