
<div class="maindiv">
<mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{post_details.username}}    </mat-card-title>
        <span class="example-spacer"></span>
        <div style="float:right;"> <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon></div>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src={{post_details.url}} *ngIf="post_details.fileType==='image'" alt="post_details by {{post_details.username}}">
      <video src={{post_details.url}} *ngIf="post_details.fileType==='video'" onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;" loop></video>
      <mat-card-content>
        <b>{{post_details.username}}</b> &nbsp; &nbsp; {{post_details.caption}}
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
 </mat-card>
</div>

 <mat-menu #menu="matMenu" yPosition="above" xPosition="before">
  <button mat-menu-item (click)="ondel(post_details.keymail,post_details.name)">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
