.main-row {
  width: 100%;
}

/* .prof_col {
  float: left;
  height: 100vh;
  width: 10%;
  background-color: rgb(245, 132, 132);
} */
.posts_col1 {
  float: left;
  height: 100vh;
  width: 70%;
}

.posts_col2 {
  float: left;
  height: 100vh;
  width: 100%;
}

.chat_col {
  float: left;
  height: 90vh;
  width: 30%;

  background-color: rgb(255, 218, 246);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


::-webkit-scrollbar
{
  width: 1px;
}


.chat_button
{
  float: right;
}

.prof_button
{
  float: left;
}

h1{
  text-align: center;
  font-weight: bold;
}

