<div class="main-row">
  <!-- <div class="prof_col" #settings *ngIf="logged_in_user.username!=''">
    <button mat-raised-button style="cursor: pointer;" (click)="go_to_profile()" [disabled]="logged_in_user.username==''">Profile</button>
    <br>
    <button mat-raised-button style="cursor: pointer;" routerLink="/add-post" [disabled]="logged_in_user.username==''">Add a Post</button>
  </div> -->
  <div [ngClass]="{posts_col2: logged_in_user.username=='', posts_col1: logged_in_user.username!=''}" #posts>
    <app-post_list></app-post_list>
  </div>
  <div class="chat_col" #chats *ngIf="logged_in_user.username!=''">
    <h1>Welcome {{logged_in_user.username}}</h1>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab >
         <ng-template mat-tab-label>
          <mat-icon>people</mat-icon>
        Global Chat
      </ng-template>
        <app-chat [username]="logged_in_user.username"></app-chat></mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>person</mat-icon>
          One on One Chat
        </ng-template>
        <app-oneone [username]="logged_in_user.username" [keymail]="email"></app-oneone></mat-tab>
    </mat-tab-group>
  </div>
</div>
