
<div >
    <div class="col">
        <div class="row-1">
            <mat-icon class="back-icon" (click)="go_to_profile()">keyboard_arrow_left</mat-icon>

            <h2 class="new-post-text" align='center'>
                New Post
            </h2>
        </div>
        
        <div class="row-2">
            <div class="preview">
                <img [src] = "url" *ngIf="format==='image' && url" style="height: 100%; width:100%">
                <video [src]="url" *ngIf="format==='video' && url" style="height: 100%; width:100%" controls></video>
            </div>

            <div> 
                <button mat-raised-button class="select-file-button"> 
                     
                <label for="new-post" required class="input-file-label">
                    Select File
                    <input type="file" id = "new-post"  class="input-file-button" required (change)="onSelectFile($event)">
                </label>
            </button>    
                
                 
                
                    
                
                    
                
                
                <h3 class="text-caption" >
                    Caption
                </h3>

                <textarea class="textarea-position" #caption>

                </textarea>
            </div>

            <button mat-raised-button class="upload-button" (click)="upload_post(caption.value)">
                Upload
            </button>

            <button mat-raised-button class="cancle-button">
                Cancle
            </button>

        </div>
    </div>
</div>