.row-1 {
    width:100%;
    float: left;
    height: 5vh;
    background-color: aquamarine;  
}

.row-2 {
    width: 98%;
    float: left;
    height: 90vh;    
    background-color:cornsilk;
    margin:2vh;
}

.preview {
    width : 46%;
    height: 70%;
    float: left;
    margin: 2%;
    background-color: rgb(246, 255, 150);
    border: 3px solid brown;
}

.select-file-button {
    width: 20%;
    height: 8%;
    margin: 2%;
    margin-top: 4%;;
    float:left;
    color:azure;
    background-color: navy;
    border: 2px solid brown;
    cursor: pointer;
}

.text-caption {
    float:left;    
    margin-left: -21.5%;
    margin-top: 15%;
    font-size:x-large;
}

.textarea-position {
    float:left;    
    margin-left: -21.5%;
    margin-top: 20%;
    width: 40%;
    height:12em; 
}

.upload-button {
    float:left;
    margin-top: 38%;    
    margin-left: -87%;
    width: 38%; 
    background-color: rgb(5, 185, 5);
    font-size: medium;
}

.cancle-button {
    float:left;
    margin-top: 38%;
    margin-left: -37%;
    width: 38%;
    background-color: red;
    font-size: medium;
}

.back-icon {
    margin: 0.2%;
    cursor: pointer;
}

.new-post-text {
    margin-top: -2%;
}